/* Bordered form */
form {
  border: 3px solid #A4CAEE;
};


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 10;
}


/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  border-style: double;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
body {
  background-color:#E9967A ;
}

p {
  color: #696969;
  font-family: fantasy, Copperplate;
  margin-left: 20px;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  align-content: center;
  color: #008B8B;
  margin-left: 20px;
  border-style: dotted;
  text-align: center;
  
}